body{
    background-color: brown;
}

p{
    color:goldenrod;
}

h1{
    text-align: center;
    font-size: 22px;
    font-style: arial;
}

.altP{
    text-align: center;
}

text{
    color: goldenrod;
}

.alt{
    text-align: center;
}

.ommig{
    text-align: center;
    color: goldenrod;
    background-color: rgb(133, 30, 30);
}

.jagtycker{
    text-align: right;
}