body {
	background-color: brown;
}

p {
	color: goldenrod;
}

h1 {
	text-align: center;
	font-size: 22px;
	font-style: arial;
}

.altP {
	text-align: center;
	border-width: 15px;
	border-style: solid;
	border-color: brown;
	padding: 30px;
}

text {
	color: goldenrod;
}

.alt {
	text-align: center;
}

.omprogram {
	text-align: center;
	color: goldenrod;
}

.jagtycker {
	text-align: right;
}

.katt {
	width: 400px;
}

a {
	text-decoration: none;
    font-size: 20px;
}
.ommig {
	border-width: 15px;
	border-style: solid;
	border-color: brown;
	padding: 30px;
}

section{
	border-width: 15px;
	border-style: solid;
	border-color: brown;
	padding: 30px;
}

.teknikum{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

li{
    display: inline;
    border-width: 5px;
    border-style: solid;
    border-color: brown;
}

.wrapper{
	background-color: aquamarine;
	width: 90%;
	margin:0 auto;
	display: grid;
	grid-template-rows: 80px 50px auto 50px;
	grid-template-areas: 
	"header"
	"nav"
	"main"
	"footer";
}

header{
	background-color: rgb(133, 30, 30);
	grid-area: header;
}

nav{
	background-color: rgb(133, 30, 30);
	grid-area: header;
}

nav > ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0;
}

nav li{
	list-style-type: none;
	text-align: center;
	display: grid;
	align-items: stretch;
}

main{
	background-color: rgb(133, 30, 30);
	grid-area: header;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

footer{
	background-color: rgb(133, 30, 30);
	grid-area: header;
}